# localports
HTTP_APP_PORT=8090
HTTPS_APP_PORT=455
HTTP_MYSQL_PORT=3350
HTTP_MAILPIT_PORT=8091
SMTP_MAILPIT_PORT=1066

# App config
APP_ENCRYPT=
#APP_TIMEZONE="Australia/Melbourne"

# frankenphp
SERVER_NAME=:80
RELEASE=dev

# Mysql DB
DB_HOST=localhost
DB_NAME=
DB_USER=user
DB_PASS=
DB_PORT=3306

MYSQL_ROOT_PASSWORD="${DB_PASS}"
MYSQL_DATABASE="${DB_NAME}"
MYSQL_USER="${DB_USER}"
MYSQL_PASSWORD="${DB_PASS}"
