# localports
HTTP_APP_PORT=8090
HTTPS_APP_PORT=455
HTTP_MYSQL_PORT=3350
HTTP_MAILPIT_PORT=8091
SMTP_MAILPIT_PORT=1066

# App config
APP_ENCRYPT={system.encrypt}
#APP_TIMEZONE="Australia/Melbourne"

# frankenphp
SERVER_NAME=:80
RELEASE=dev

# Mysql DB
DB_HOST={db.mysql.host}
DB_NAME={db.mysql.name}
DB_USER={db.mysql.user}
DB_PASS={db.mysql.pass}
DB_PORT={db.mysql.port}

MYSQL_ROOT_PASSWORD="${DB_PASS}"
MYSQL_DATABASE="${DB_NAME}"
MYSQL_USER="${DB_USER}"
MYSQL_PASSWORD="${DB_PASS}"
